* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:
    'Segoe UI',
    'Roboto',
    sans-serif;
  background-color: #e5e5e5;
}

.links {
  display: flex;
  list-style: none;
}

.link {
  margin-left: 25%;
}

.actions {
   display: flex;
}

.listBtns {
 margin-left: 2%;
 list-style: none;
}

.progress-info {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 2%;
}

.prog {
  margin: 1%;
}

.chapter-info {
  display: flex;
}

.chap {
  margin-left: 1%;
}

.book-container {
  margin-bottom: 5%;
  margin-top: 1%;
  margin-left: 5%;
}

.newbookTitle {
  margin-left: 2%;
}