* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:
    'Segoe UI',
    'Roboto',
    sans-serif;
}

.logo-headline {
  background-color: coral;
}

.form-container {
  background-color: cornflowerblue;
}

button {
  background-color: teal;
  border: none;
}